{% extends 'index.html' %}

{% block title %} {{page_title}} {% endblock title %}
{% block content %}
    <div class="title">
        {{page_title}}
    </div>
    <div class="item-list">
        {% for obj in objects %}
            <a href="{% url detail_url obj.id %}">
                <div class="item">
                    {% if obj.title %} 
                        {{obj.title}} 
                    {% else %} 
                        {{obj.name}} 
                    {% endif %}
                </div>
            </a>
        {% empty %}
            <div class="not-found">
                Nothing Found
            </div>
        {% endfor %}
    </div>
{% endblock content %}