{% extends 'index.html' %}

{% block title %} {{page_title}} {% endblock title %}
{% block content %}
    <div class="title">
        You are editing: 
        {% if obj.title %} 
            "{{obj.title}}" by {{obj.author.name}} 
        {% else %} 
            {{obj.name}} 
        {% endif %}
    </div>
    {% if form.errors %}Errors in form{% endif %}
    <form action="{% url edit_url obj.pk %}" method="POST" class="center-form">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="form-button">Save</button>
    </form>
{% endblock content %}