{% extends 'index.html' %}

{% block title %} {{page_title}} {% endblock title %}
{% block content %}
    <div class="title">
        {{obj.name}} 
        <button class="form-button small"><a href="{% url edit_url obj.pk %}">Edit</a></button>
    </div>
    <div class="content">
        {% if obj.image %}
        <img src="{{obj.image.url}}" alt="">
        {% endif %}
        <div class="field-name">Name: </div><div>{{obj.name}}</div>
        <div class="field-name">Address: </div><div>{{obj.address}}</div>
        <div class="field-name">Books: </div>
        <div>
            <ul>
                {% for book in obj.books.all %}
                <li><a href="{% url 'book_detail' book.pk %}">{{book.title}}</a></li>
                {% endfor %} 
            </ul>
        </div>
    </div>
{% endblock content %}