{% load static %}
<nav>
    <img class="logo" src="{% static 'images/logo.svg' %}" alt="">
    <ul class="mainmenu">
        <li>
            <a>Books</a>
            <ul class="submenu">
                <li><a href="{% url 'book_list' %}">All</a></li>
                <li><a href="{% url 'create_book' %}">Create</a></li>
            </ul>
        </li>
        <li>
            <a>Publishers</a>
            <ul class="submenu">
                <li><a href="{% url 'publisher_list' %}">All</a></li>
                <li><a href="{% url 'create_publisher' %}">Create</a></li>
            </ul>
        </li>
        <li>
            <a>Authors</a>
            <ul class="submenu">
                <li><a href="{% url 'author_list' %}">All</a></li>
                <li><a href="{% url 'create_author' %}">Create</a></li>
            </ul>
        </li>
    </ul>
    {% if user.is_authenticated %}
        <a href="{% url 'user_logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'user_login' %}">Login</a>
    {% endif %}
</nav>